<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @tag.question_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @tag.user %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
